@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.text-gradient-light {
  background: linear-gradient(
    30deg,
    rgba(23, 163, 75, 1) 0%,
    rgba(32, 98, 142, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-dark {
  background: linear-gradient(
    30deg,
    rgba(32, 98, 142, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 30px;
}
