@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #09090b;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #fff;
    color: #000;
  }
}
