# BACKEND
venv/
__pycache__/
.env
*.pyc
*.pyo
*.pyd

# FRONTEND
# dependencies
node_modules/
package-lock.json
.pnp
.pnp.*
yarn.lock
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.frontend/next/

/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Logs
*.log

# Temporal files
*.tmp
*.temp
*.bak
*.swp
*.swo

# IDE and editor files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Database files
*.sqlite3
*.db

# Modelos de lenguaje o entrenamiento
*.model
*.h5
*.pickle

*.code-workspace
Thumbs.db
