/* [project]/node_modules/@fontsource/roboto/index.css [app-client] (css) */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-cyrillic-ext-400-normal.eaabe9db.woff2") format("woff2"), url("/_next/static/media/roboto-cyrillic-ext-400-normal.1157ae51.woff") format("woff");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-cyrillic-400-normal.3b7e9ecd.woff2") format("woff2"), url("/_next/static/media/roboto-cyrillic-400-normal.23c15797.woff") format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-greek-ext-400-normal.3c0fd6c2.woff2") format("woff2"), url("/_next/static/media/roboto-greek-ext-400-normal.efac7400.woff") format("woff");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-greek-400-normal.ff9f1976.woff2") format("woff2"), url("/_next/static/media/roboto-greek-400-normal.53f564e3.woff") format("woff");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-vietnamese-400-normal.83c3ed85.woff2") format("woff2"), url("/_next/static/media/roboto-vietnamese-400-normal.39e3a707.woff") format("woff");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-latin-ext-400-normal.ea228d77.woff2") format("woff2"), url("/_next/static/media/roboto-latin-ext-400-normal.283dbaf0.woff") format("woff");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/roboto-latin-400-normal.2e0aac26.woff2") format("woff2"), url("/_next/static/media/roboto-latin-400-normal.f89b8422.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-right-5 {
  right: -1.25rem;
}

.-top-5 {
  top: -1.25rem;
}

.right-0 {
  right: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-1 {
  margin-left: .25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-12 {
  width: 3rem;
  height: 3rem;
}

.size-24 {
  width: 6rem;
  height: 6rem;
}

.size-28 {
  width: 7rem;
  height: 7rem;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-9 {
  width: 2.25rem;
  height: 2.25rem;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: fit-content;
}

.max-h-0 {
  max-height: 0;
}

.max-h-96 {
  max-height: 24rem;
}

.min-h-dvh {
  min-height: 100dvh;
}

.w-14 {
  width: 3.5rem;
}

.w-40 {
  width: 10rem;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-\[24px\] {
  min-width: 24px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.flex-grow {
  flex-grow: 1;
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: 15s linear infinite scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-\[repeat\(auto-fit\,_minmax\(250px\,1fr\)\)\] {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-cols-\[repeat\(auto-fit\,_minmax\(290px\,1fr\)\)\] {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-items-center {
  justify-items: center;
}

.gap-2 {
  gap: .5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-b-\[inherit\] {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.rounded-t-\[inherit\] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.border {
  border-width: 1px;
}

.border-dark-gray {
  --tw-border-opacity: 1;
  border-color: rgb(31 31 33 / var(--tw-border-opacity, 1));
}

.border-difuminate-text-dark {
  --tw-border-opacity: 1;
  border-color: rgb(161 161 170 / var(--tw-border-opacity, 1));
}

.bg-secondary-color {
  --tw-bg-opacity: 1;
  background-color: rgb(37 183 99 / var(--tw-bg-opacity, 1));
}

.bg-secondary-color\/10 {
  background-color: #25b7631a;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-gradient-light-section {
  background-image: linear-gradient(#17a34b1a 0%, #20628e1a 100%);
}

.object-cover {
  object-fit: cover;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-lg {
  font-size: clamp(26px, 6vw, 36px);
}

.text-md {
  font-size: clamp(20px, 4vw, 22px);
}

.text-sm {
  font-size: clamp(14px, 3vw, 18px);
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-wide {
  letter-spacing: .025em;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-dark-gray {
  --tw-text-opacity: 1;
  color: rgb(31 31 33 / var(--tw-text-opacity, 1));
}

.text-difuminate-text-light {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-secondary-color {
  --tw-text-opacity: 1;
  color: rgb(37 183 99 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-300 {
  transition-duration: .3s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

body {
  font-family: Roboto, sans-serif;
}

.text-gradient-light {
  background: linear-gradient(30deg, #17a34b 0%, #20628e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-dark {
  background: linear-gradient(30deg, #20628e 10%, #fff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 30px;
}

.hover\:border-difuminate-text-light:hover {
  --tw-border-opacity: 1;
  border-color: rgb(100 116 139 / var(--tw-border-opacity, 1));
}

.hover\:bg-black\/10:hover {
  background-color: #0000001a;
}

.hover\:bg-secondary-color\/80:hover {
  background-color: #25b763cc;
}

.hover\:text-secondary-color:hover {
  --tw-text-opacity: 1;
  color: rgb(37 183 99 / var(--tw-text-opacity, 1));
}

.hover\:text-secondary-color\/60:hover {
  color: #25b76399;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.group:hover .group-hover\:pointer-events-auto {
  pointer-events: auto;
}

.group:hover .group-hover\:block {
  display: block;
}

.dark\:border-light-gray:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity, 1));
}

.dark\:bg-dark-background:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(9 9 11 / var(--tw-bg-opacity, 1));
}

.dark\:bg-primary-color:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 97 141 / var(--tw-bg-opacity, 1));
}

.dark\:bg-primary-color\/30:is(.dark *) {
  background-color: #1f618d4d;
}

.dark\:bg-gradient-dark-section:is(.dark *) {
  background-image: linear-gradient(#0e0e10 0%, #1d1d1f 100% 100%);
}

.dark\:text-difuminate-text-dark:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}

.dark\:text-primary-color:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(31 97 141 / var(--tw-text-opacity, 1));
}

.dark\:text-white:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:dark\:bg-primary-color\/60:is(.dark *):hover {
  background-color: #1f618d99;
}

.hover\:dark\:bg-white\/10:is(.dark *):hover {
  background-color: #ffffff1a;
}

.hover\:dark\:text-difuminate-text-dark:is(.dark *):hover {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}

.hover\:dark\:text-primary-color:is(.dark *):hover {
  --tw-text-opacity: 1;
  color: rgb(31 97 141 / var(--tw-text-opacity, 1));
}

.hover\:dark\:text-primary-color\/80:is(.dark *):hover {
  color: #1f618dcc;
}

@media not all and (width >= 768px) {
  .max-md\:fixed {
    position: fixed;
  }

  .max-md\:bottom-0 {
    bottom: 0;
  }

  .max-md\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .max-md\:mb-8 {
    margin-bottom: 2rem;
  }

  .max-md\:hidden {
    display: none;
  }

  .max-md\:size-4 {
    width: 1rem;
    height: 1rem;
  }

  .max-md\:flex-col {
    flex-direction: column;
  }

  .max-md\:justify-center {
    justify-content: center;
  }

  .max-md\:border-t {
    border-top-width: 1px;
  }

  .max-md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-md\:pb-16 {
    padding-bottom: 4rem;
  }

  .max-md\:pb-24 {
    padding-bottom: 6rem;
  }

  .max-md\:pt-4 {
    padding-top: 1rem;
  }

  .max-md\:text-center {
    text-align: center;
  }
}

@media not all and (width >= 640px) {
  .max-sm\:justify-between {
    justify-content: space-between;
  }
}

@media (width >= 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:max-w-\[60\%\] {
    max-width: 60%;
  }

  .md\:max-w-\[70\%\] {
    max-width: 70%;
  }

  .md\:border-b {
    border-bottom-width: 1px;
  }

  .md\:object-contain {
    object-fit: contain;
  }
}

@media (width >= 1024px) {
  .lg\:max-w-\[80\%\] {
    max-width: 80%;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }
}

.\[\&\>a\]\:text-black > a {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.\[\&\>a\]\:dark\:text-white:is(.dark *) > a {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\[\&\>input\]\:mt-1 > input {
  margin-top: .25rem;
}

.\[\&\>input\]\:rounded-md > input {
  border-radius: .375rem;
}

.\[\&\>input\]\:border > input {
  border-width: 1px;
}

.\[\&\>input\]\:bg-transparent > input {
  background-color: #0000;
}

.\[\&\>input\]\:p-2 > input {
  padding: .5rem;
}

.\[\&\>input\]\:dark\:border-light-gray:is(.dark *) > input {
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity, 1));
}

.\[\&\>label\>input\]\:mt-1 > label > input {
  margin-top: .25rem;
}

.\[\&\>label\>input\]\:w-full > label > input {
  width: 100%;
}

.\[\&\>label\>input\]\:rounded-md > label > input {
  border-radius: .375rem;
}

.\[\&\>label\>input\]\:border > label > input {
  border-width: 1px;
}

.\[\&\>label\>input\]\:bg-transparent > label > input {
  background-color: #0000;
}

.\[\&\>label\>input\]\:p-2 > label > input {
  padding: .5rem;
}

.\[\&\>label\>input\]\:dark\:border-light-gray:is(.dark *) > label > input {
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity, 1));
}

.\[\&\>label\]\:flex > label {
  display: flex;
}

.\[\&\>label\]\:w-full > label {
  width: 100%;
}

.\[\&\>label\]\:flex-col > label {
  flex-direction: column;
}

.\[\&\>li\]\:cursor-pointer > li {
  cursor: pointer;
}


/*# sourceMappingURL=_c81cb5._.css.map*/
