{% extends 'layout-home.html' %}
{% block title %}Home - Data Learning System{% endblock %}
  {% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=StpBR2W8G5A" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Data Learning System was founded by Axel Miranda for big data and deep learning</h3>
            <p>This is where passion meets practicality. Here, we strive to provide a space for learning and exploration in the realms of big data and deep learning. Our mission is to make the complexities of these fields accessible, fostering a community where knowledge can thrive. Join us on a journey of discovery and empowerment.</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Information Deep Learning</a></h4>
              <p class="description">Designed for processing big data and extracting valuable information through advanced predictive models. Explore the possibilities of information deep learning with us.</p>
            </div>
          

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="ri-database-2-line"></i></div>
              <h4 class="title"><a href="">Information Big Data</a></h4>
              <p class="description">Explore the vast world of big data and discover valuable insights that drive informed decision-making. Uncover patterns, trends, and correlations to gain a competitive edge in the era of data-driven innovation.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="ri-bar-chart-box-line"></i></div>
              <h4 class="title"><a href="">Information Analisys Data</a></h4>
              <p class="description">Dive into the realm of data analysis, where raw information transforms into meaningful insights. Leverage statistical methods, visualization tools, and domain expertise to extract actionable conclusions, empowering your business with strategic decision-making.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Explore Our Features</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Innovative Store Management</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Advanced Data Analytics</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-task-line" style="color: #e80368;"></i> <!-- Cambiado a un icono de tareas -->
              <h3><a href="">Efficient Task Scheduling</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-brush-line" style="color: #e361ff;"></i> <!-- Cambiado a un icono de diseño -->
              <h3><a href="">Creative Design Solutions</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-lock-line" style="color: #47aeff;"></i> <!-- Cambiado a un icono de seguridad -->
              <h3><a href="">Secure Data Storage</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-settings-2-line" style="color: #ffa76e;"></i> <!-- Cambiado a un icono de gestión -->
              <h3><a href="">Flexible Workflow Management</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-file-text-line" style="color: #11dbcf;"></i> <!-- Cambiado a un icono de documentación -->
              <h3><a href="">Comprehensive Documentation</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Competitive Pricing Models</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
              <i class="ri-software-line" style="color: #b2904f;"></i> <!-- Cambiado a un icono de software -->
              <h3><a href="">Robust Software Packages</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
              <i class="ri-speed-line" style="color: #b20969;"></i> <!-- Cambiado a un icono de rendimiento -->
              <h3><a href="">Optimized Performance Metrics</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
              <i class="ri-shield-keyhole-line" style="color: #29cc61;"></i> <!-- Cambiado a un icono de autenticación -->
              <h3><a href="">Secure Authentication Mechanisms</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='assets/img/details-1.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Enhancing Software Solutions for Seamless Operations.</h3>
            <p class="fst-italic">
              Elevating your digital experience with cutting-edge software solutions, designed to streamline operations and boost productivity.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Optimizing workflow through innovative software functionalities.</li>
              <li><i class="bi bi-check"></i> Delivering unparalleled performance and efficiency in software operations.</li>
              <li><i class="bi bi-check"></i> Incorporating advanced technologies for a seamless user experience.</li>
              <li><i class="bi bi-check"></i> Empowering businesses with intuitive and user-friendly software interfaces.</li>
            </ul>
            <p>
              Revolutionizing the digital landscape, our software solutions offer unparalleled functionality, ensuring a smooth and efficient experience for users. Embrace the future of technology with confidence.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='assets/img/details-2.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Elevating Software Capabilities for Enhanced Efficiency</h3>
            <p class="fst-italic">
              Embrace the power of technology with software solutions designed to optimize your operations and propel your business forward.
            </p>
            <p>
              Experience seamless collaboration and heightened productivity with our software. We understand the challenges you face, and our solutions are crafted to meet your needs. Unleash the potential of your digital endeavors with us.
            </p>
            <p>
              Our innovative approach ensures that your software experience is not only efficient but also tailored to your unique requirements. We believe in providing solutions that make a difference, enabling you to focus on what matters most—your success.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='assets/img/details-3.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Empowering Your Business with Seamless Software Integration</h3>
            <p>Unlock new possibilities and drive success through advanced software solutions tailored to your unique business needs.</p>
            <ul>
              <li><i class="bi bi-check"></i> Elevate productivity with streamlined and efficient workflows.</li>
              <li><i class="bi bi-check"></i> Experience the pinnacle of performance with our cutting-edge software.</li>
              <li><i class="bi bi-check"></i> Effortless integration and user-friendly interfaces for a superior experience.</li>
            </ul>
            <p>
              Embrace the future with software solutions designed to adapt to your evolving requirements. Our commitment to innovation ensures that your journey is marked by success and unparalleled efficiency.
            </p>
            <p>
              Experience the difference with our solutions — where technology meets intuition, and challenges transform into opportunities. Your path to digital excellence starts here.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='assets/img/details-4.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Optimizing Processes and Empowering Innovation through Advanced Software</h3>
            <p class="fst-italic">
              Harness the potential of cutting-edge software solutions for enhanced efficiency and innovation in your operations.
            </p>
            <p>
              Experience the seamless integration of our software solutions, designed to revolutionize your workflows. We understand the complexities of modern business, and our software is crafted to simplify and elevate your processes.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Architecting present-day solutions for your dynamic needs.</li>
              <li><i class="bi bi-check"></i> Embracing innovation and enabling unprecedented possibilities.</li>
              <li><i class="bi bi-check"></i> Effortless integration and user-friendly interfaces for superior usability.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    <section id="gallery" class="gallery">
      <div class="container">
  
          <div class="section-title" data-aos="fade-up">
              <h2>Gallery</h2>
              <p>Check our Gallery</p>
          </div>
  
          <div class="row g-0" data-aos="fade-left">
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-1.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-1.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-2.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-2.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-3.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-3.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-4.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-4.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-5.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-5.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-6.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-6.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-7.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-7.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
                      <a href="{{ url_for('static', filename='assets/img/gallery/gallery-8.jpg') }}" class="gallery-lightbox">
                          <img src="{{ url_for('static', filename='assets/img/gallery/gallery-8.jpg') }}" alt="" class="img-fluid">
                      </a>
                  </div>
              </div>
  
          </div>
  
      </div>
    </section><!-- End Gallery Section -->
    <section id="team" class="team">
      <div class="container">
  
          <div class="section-title" data-aos="fade-up">
              <h2>Team</h2>
              <p>Our Great Team</p>
          </div>
  
          <div class="row" data-aos="fade-left">
  
              <div class="col-lg-3 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="100">
                      <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-1.jpg') }}" class="img-fluid" alt=""></div>
                      <div class="member-info">
                          <h4>Walter White</h4>
                          <span>Chief Executive Officer</span>
                          <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                  <div class="member" data-aos="zoom-in" data-aos-delay="200">
                      <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-2.jpg') }}" class="img-fluid" alt=""></div>
                      <div class="member-info">
                          <h4>Sarah Jhonson</h4>
                          <span>Product Manager</span>
                          <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                  <div class="member" data-aos="zoom-in" data-aos-delay="300">
                      <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-3.jpg') }}" class="img-fluid" alt=""></div>
                      <div class="member-info">
                          <h4>William Anderson</h4>
                          <span>CTO</span>
                          <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                  <div class="member" data-aos="zoom-in" data-aos-delay="400">
                      <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-4.jpg') }}" class="img-fluid" alt=""></div>
                      <div class="member-info">
                          <h4>Amanda Jepson</h4>
                          <span>Accountant</span>
                          <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
  
              <!-- Repeat the same structure for additional team members -->
  
          </div>
  
      </div>
    </section><!-- End Team Section -->
  

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>Explore Our Pricing Plans</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Basic Data Analysis Tools</li>
                <li>Access to Learning Resources</li>
                <li>Community Support</li>
                <li class="na">Limited Data Storage</li>
                <li class="na">Basic Reporting Features</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Get Started</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Advanced Data Analytics</li>
                <li>Customizable Dashboards</li>
                <li>Priority Support</li>
                <li>Increased Data Storage</li>
                <li>Collaboration Tools</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Get Started</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>API Access</li>
                <li>Data Integration Services</li>
                <li>Advanced Reporting Features</li>
                <li>Enhanced Security</li>
                <li>Real-time Data Processing</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Get Started</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>All Business Features</li>
                <li>Dedicated Account Manager</li>
                <li>Custom Solutions</li>
                <li>Unlimited Data Storage</li>
                <li>Comprehensive Training</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Get Started</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is data analysis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Data analysis is the process of inspecting, cleansing, transforming, and modeling data to discover useful information, inform conclusions, and support decision-making.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How can I benefit from your services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Our services provide you with advanced tools and resources to enhance your data analysis capabilities, improve decision-making, and drive business growth.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What types of data can I analyze? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  You can analyze various types of data, including structured, unstructured, and semi-structured data from different sources such as databases, spreadsheets, and APIs.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Is there a trial period for your services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, we offer a trial period for our services, allowing you to explore our features and determine if they meet your needs before committing to a subscription.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How do I get support? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  You can reach our support team via email, chat, or through our support portal for any assistance you may need.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>axelmiranda.845@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form method="post" role="form" action="/contact_information">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3 mb-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="col-md-12 text-center">

                <button type="submit" class="btn btn-outline-dark">Send Message</button>
              </div>
              {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-light text-white bg-info alert-dismissible fade show" role="alert">
                          {{message}}
                          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
              {% endwith %}
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  {% endblock %}