<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register - Data Learning System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Enlace al favicon desde la carpeta static/img/ -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Enlace al icono de Apple desde la carpeta static/img/ -->
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/css/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/css/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <main class="bg-success">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                  <span class="d-none d-lg-block">NEXA</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crear una Cuenta</h5>
                    <p class="text-center small">Ingresa tus datos personales para crear una cuenta</p>
                  </div>

                  <form id="registerForm" class="row g-3 needs-validation" novalidate onsubmit="return validateRegisterForm();">
                    <div class="col-12">
                      <label for="yourName" class="form-label">Tu Nombre</label>
                      <input type="text" name="name" class="form-control" id="yourName" required minlength="5" pattern="^[a-zA-Z\s]+$" title="El nombre debe tener al menos 5 caracteres y contener solo letras y espacios.">
                      <div class="invalid-feedback">Por favor, ingresa tu nombre (¡al menos 5 caracteres)!</div>
                    </div>
                    <div class="col-12">
                      <label for="yourLastName" class="form-label">Tu Apellido</label>
                      <input type="text" name="lastName" class="form-control" id="yourLastName" required minlength="5" pattern="^[a-zA-Z\s]+$" title="El apellido debe tener al menos 5 caracteres y contener solo letras y espacios.">
                      <div class="invalid-feedback">Por favor, ingresa tu apellido (¡al menos 5 caracteres)!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Tu Correo Electrónico</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Por favor, ingresa una dirección de correo electrónico válida con .com">
                      <div class="invalid-feedback">Por favor, ingresa un correo electrónico válido (¡debe contener .com)!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos 8 caracteres e incluir al menos un número, una letra mayúscula y una letra minúscula.">
                      <div class="invalid-feedback">Por favor, ingresa tu contraseña. Debe tener al menos 8 caracteres e incluir al menos un número, una letra mayúscula y una letra minúscula.</div>
                    </div>
                    <div class="col-12">
                      <label for="yourRepeatPassword" class="form-label">Repetir Contraseña</label>
                      <input type="password" name="repeatPassword" class="form-control" id="yourRepeatPassword" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña repetida debe coincidir con los criterios de la contraseña.">
                      <div class="invalid-feedback">Por favor, ingresa la contraseña nuevamente. Debe coincidir con los criterios de la contraseña.</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="acceptTerms" type="checkbox" value="yes" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">Acepto y acepto los <a href="#" class="text-white">términos y condiciones</a></label>
                        <div class="invalid-feedback">Debes aceptar antes de enviar.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-outline-dark w-100" type="button" onclick="submitRegisterForm();">Crear Cuenta</button>
                    </div>

                    <div id="alertMessage" class="alert alert-light text-white bg-info alert-dismissible fade show d-none" role="alert">
                        <span id="alertText"></span>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="col-12">
                      <p class="small mb-0">¿Ya tienes una cuenta? <a href="{{ url_for('auth.login_view') }}">Iniciar sesión</a></p>
                    </div>
                  </form>

                </div>
              </div>
              

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script>
  function validateRegisterForm() {
      const form = document.getElementById('registerForm');
      const alertMessage = document.getElementById('alertMessage');
      const alertText = document.getElementById('alertText');

      // Limpiar mensajes de alerta
      alertMessage.classList.add('d-none');
      alertText.innerText = '';

      // Validar el formulario
      if (!form.checkValidity()) {
          // Si el formulario no es válido, mostrar los mensajes de error
          Array.from(form.elements).forEach(element => {
              if (element.tagName === 'INPUT') {
                  if (!element.checkValidity()) {
                      element.classList.add('is-invalid');
                  } else {
                      element.classList.remove('is-invalid');
                  }
              }
          });

          // Mostrar mensaje de alerta si hay un error
          alertText.innerText = 'Por favor, complete todos los campos requeridos correctamente.';
          alertMessage.classList.remove('d-none');
          return false; // Evitar el envío del formulario
      }

      // Si todo está bien, permitir el envío del formulario
      return true;
  }

  function submitRegisterForm() {
      if (validateRegisterForm()) {
          // Aquí puedes agregar la lógica para enviar el formulario
          const formData = new FormData(document.getElementById('registerForm'));
          fetch("{{ url_for('auth.add_user') }}", {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              const alertMessage = document.getElementById('alertMessage');
              const alertText = document.getElementById('alertText');
              alertMessage.classList.remove('d-none'); // Mostrar el div de alertas

              if (data.message) {
                  alertMessage.classList.remove('bg-danger');
                  alertMessage.classList.add('bg-info');
                  alertText.innerText = data.message; // Mostrar mensaje de éxito
              }

              if (data.username) {
                  alertText.innerText = data.username;
              }

              if (data.error) {
                  alertMessage.classList.remove('bg-info');
                  alertMessage.classList.add('bg-danger');
                  alertText.innerText = data.error; // Mostrar mensaje de error
              }
          })
          .catch(error => {
              console.error('Error:', error);
              const alertMessage = document.getElementById('alertMessage');
              alertMessage.classList.remove('d-none');
              alertMessage.classList.remove('bg-info');
              alertMessage.classList.add('bg-danger');
              alertText.innerText = 'Error al enviar el formulario. Por favor, inténtelo de nuevo más tarde.';
          });
      }
  }
  </script>

</body>

</html>