<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register - Data Learning System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Enlace al favicon desde la carpeta static/img/ -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Enlace al icono de Apple desde la carpeta static/img/ -->
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/css/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/css/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <main class="bg-success">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                  <span class="d-none d-lg-block">NEXA</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form id="registerForm" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Your Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" required minlength="5" pattern="^[a-zA-Z\s]+$" title="Name must be at least 5 characters long and contain only letters and spaces.">
                      <div class="invalid-feedback">Please, enter your name (at least 5 characters)!</div>
                    </div>
                    <div class="col-12">
                      <label for="yourLastName" class="form-label">Your Last Name</label>
                      <input type="text" name="lastName" class="form-control" id="yourLastName" required minlength="5" pattern="^[a-zA-Z\s]+$" title="Last name must be at least 5 characters long and contain only letters and spaces.">
                      <div class="invalid-feedback">Please, enter your last name (at least 5 characters)!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address with .com">
                      <div class="invalid-feedback">Please enter a valid Email address (must contain .com)!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long and include at least one number, one uppercase and one lowercase letter.">
                      <div class="invalid-feedback">Please enter your password! It must be at least 8 characters long and include at least one number, one uppercase and one lowercase letter.</div>
                    </div>
                    <div class="col-12">
                      <label for="yourRepeatPassword" class="form-label">Repeat Password</label>
                      <input type="password" name="repeatPassword" class="form-control" id="yourRepeatPassword" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Repeat password must match the password criteria.">
                      <div class="invalid-feedback">Please enter password again! It must match the password criteria.</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="acceptTerms" type="checkbox" value="yes" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#" class="text-white">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-outline-dark w-100" type="button" onclick="submitRegisterForm();">Create Account</button>
                    </div>

                    <div id="alertMessage" class="alert alert-light text-white bg-info d-none" role="alert"></div>

                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{ url_for('auth.login_view') }}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
              

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script>
  function submitRegisterForm() {
      const formData = new FormData(document.getElementById('registerForm'));

      fetch("{{ url_for('auth.add_user') }}", {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          const alertMessage = document.getElementById('alertMessage');
          alertMessage.classList.remove('d-none'); // Mostrar el div de alertas

          if (data.message) {
              alertMessage.classList.remove('bg-danger');
              alertMessage.classList.add('bg-info');
              alertMessage.innerText = data.message; // Mostrar mensaje de éxito
              // Aquí puedes redirigir o actualizar la interfaz según sea necesario
              setTimeout(() => {
                  window.location.href = "{{ url_for('auth.login_view') }}"; // Redirigir a la página de inicio de sesión
              }, 2000);
          } else if (data.error) {
              alertMessage.classList.remove('bg-info');
              alertMessage.classList.add('bg-danger');
              alertMessage.innerText = data.error; // Mostrar mensaje de error
          }
      })
      .catch(error => {
          console.error('Error:', error);
          const alertMessage = document.getElementById('alertMessage');
          alertMessage.classList.remove('d-none');
          alertMessage.classList.remove('bg-info');
          alertMessage.classList.add('bg-danger');
          alertMessage.innerText = 'Error al enviar el formulario. Por favor, inténtelo de nuevo más tarde.';
      });
  }
  </script>

</body>

</html>